body{
  margin: 0;
  border: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
  background-color: rgb(3, 3, 80);
  color: white;
  border-bottom: 5px solid orangered;
  padding: 10px;
  text-align: center;
}
.left{
  background-color: gray;
  width: 15%;
  float: left;
  height: 800px
}
.right{
  background-color:whitesmoke;
  width: 85%;
  float: right;
  height: 800px;
  align-items: center;
}
.categories{
  margin-top: 15px;
}

.homeBtn{
  width: 90%;
  padding: 5px;
  background-color: green;
  margin-left: 10px;
  color:white;
}
.homeBtn a{
  text-decoration: none;
  color: white;
}
Link{
  text-decoration: none;
  color: black;
}
.catBtn{
  width: 95%;
  padding: 15px;
  background-color:brown;
  color: white;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.catBtn a{
  text-decoration: none;
  color: white;
}
.document{
  margin-top: 20px;
  margin-left: 25px;
}
.addRow{
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 25px;
}
.addRow button{
  background-color: purple;
  color: white;
  padding: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.addRow button a{
  color: white;
  text-decoration: none;
}
.document form{
  width: 30%;
}
.document input[type="text"], input[type="email"], input[type="password"]{
  padding: 5px;
  width: 100%;
}
.document select{
  padding: 7px;
}
.document button{
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: azure;
}
.download{
  background-color: lightgray;
  width: 95%;
  padding: 10px;
  margin-left: 5px;
  margin-top: 20px;
}
.download a,span{
  margin-top: 3px;
}
.error{
  background-color: palevioletred;
  color: red;
  padding: 5px;
  width: 32%;
  text-align: center;
}
.pagination li{
  text-decoration: none;
  display: inline;
  margin-left: 5px;
  color: red;
}
.pagination li a{
  color: red;
}
.pagination li a:hover{
  color: blue;
  background-color: white;
}
.logout{
  background-color: red;
  color: white;
  margin-left: 250px;
}
.document hr{
  margin-right: 15px;
}